/* Reset some default styles and apply a background color to the body */
html, body {
  height: 100%;
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}

h1{
  text-align: center;
  margin-top: 20px; /* Add some top margin for spacing */
  margin-bottom: 100px;
}

/* Center everything vertically and horizontally */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Style for the sliders container */
.editor {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 2px solid mediumorchid;
}

/* Style for labels */
label {
  font-size: 14px;
  font-weight: bold;
}

/* Style for the checkbox container */
.checkbox-container {
  opacity: 0.9;
  gap: 20px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%); /* Center the container horizontally */
  padding: 10px; /* Add some padding */
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 5px; /* Add rounded corners */
}


.curveListContainer {
  display: inline-block; 
  /* height: 50px; */
  /* width: 60%; */
  border: 2px solid cornflowerblue;
  padding: 0 20px;
  line-height: 50px;
  /* margin: 5px;
  margin-right: 10px; */
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px; 
}

/* Style for singular curve container */
.singular {
  border: 2px solid rgb(228, 182, 182);
  /* height: 100%; */
}

/* Style for pairs curve container */
.pairs {
  border: 2px solid rgb(185, 185, 226);
  /* height: 100%; */
  /* right: 80px; */
}

.points {
  border: 2px solid rgb(206, 233, 201);
}

.pointAdd {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 70%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.layoutGrid {
  display: grid;
  grid-template-columns: 15% 40% 15% 15% 15%;
  gap: 20px;
  justify-content: space-around;
  width: 100%; /* Added width for proper alignment */
  max-width: 90%; /* Limit the maximum width of the grid */
  margin: 0 auto; /* Center the grid horizontally */
  margin-bottom: 10
}


/* Style for the canvas */
canvas {
  border: 0px solid black;
  /* width: 100%;
  height: 100%; */
}

/* Style for the canvas container */
#canvasContainer {
  background-color: white;
  padding: 10px;
  border: 2px solid cadetblue;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* Style for the "Add Curve" button */
.curveAdd {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 70%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

#addCurveButton:hover, #addCurvePairButton:hover{
  cursor: pointer;
}

/* Style for hovered strikethrough */
/* .strikethroughHover:hover {
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
} */



.editorContainer{
  position: relative;
  background-color: white;
  /* width: 0%; */
  margin: 2em;
  /* max-width: 90%; */
  height: 3em;
  border: 2px solid linen;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 5px; /* Add rounded corners */
  text-align: center;
}

.editorContainerElement{
  margin: 0;
  position: relative;
  top: 30%;
}

#slidercontainertext{
  text-align: center;
  width: 100%;
}

/* .selectable {
  border: 1px dotted blue;  
} */

/* Style for selected elements */
.selectedElement {
  background-color: paleturquoise;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}

#labelText {
  width:100%
}